<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs')%>
            <h1>Some error occurred!</h1>
            <p>We're currently looking more into it, sorry for the inconvenience!</p>
            <img style="height: 60vh;" src="/images/error.svg" />
            <%- include('includes/end.ejs')%>