<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs')%>
            <h1>Page not Found...</h1>
            <p>This page doesn't exist, try inserting another url address...</p>
            <img style="height: 60vh;" src="/images/pagenotfound.png" />
            <%- include('includes/end.ejs')%>